/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  background-color: #a9bfc3;
}
button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

section {
  padding: 10px;
}

.container {
  width: min(100%, 1140px);
  /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/*! ======== HEADER ========== */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh; /*? the header will take up the full height of the visible browser window. */
  background: url("../img/LandingPage.jpg") left / cover no-repeat; /* ? left  */
  position: relative;
}

h1 {
  align-self: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);

  font-size: clamp(3.125rem, 2.15rem + 4vw, 5rem);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #d5d5dd;

  letter-spacing: 3px;
}

/*! =============== NAV-BAR-MEU ===============*/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;

  padding: 20px;

  list-style-type: none;
  margin-left: 20px;
}

.nav-link {
  padding: 10px 5px;

  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;

  letter-spacing: 2px;
}

.nav-link:hover {
  color: #b71c27;
}

/*!=========== SECTION-SE-HIKES ===========*/

section img {
  border: 1px solid #fff;
  margin-bottom: 10px;
}

h2 {
  font-size: clamp(1.25rem, 1.087rem + 0.667vw, 1.563rem);
  text-transform: uppercase;
}

p {
  margin-top: 10px;
  margin-bottom: 18px;
}

.sec-hikes {
  background-color: #85a875;
}

/*!============== FOOTER ==============*/

.sec-contact {
  background-color: #75a387;
}

input,
textarea {
  display: block;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  resize: none;
}

input:focus,
textarea {
  outline: none;
}

textarea {
  padding: 10px;
}

input {
  height: 30px;
  padding: 10px;

  resize: none;
}

input[type="submit"] {
  border: none;
  background-color: hsl(135, 69%, 38%);
  border-radius: 4px;

  font-weight: 500;
  color: #fff;

  line-height: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: hsl(135, 69%, 20%);
}

.contact-two h2 {
  margin-top: 6px;
}
.contact-two img {
  margin-top: 6px;
}

.contact-two ul {
  margin: 20px 0 50px;
  
}

.contact-two li {
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.2;
}

/*!============== SCREEN SIZE > DESKTOP ==============*/

@media (max-width: 500px) {
  p {
    columns: 2;
  }

  .ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 999;
  }

  .nav-list {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
  }

  .nav-item {
    padding-bottom: 20px;
  }

 .nav-list.show {
    right: 0; /*? Displays the menu when the "show" class is added */
  }
  .nav-link {
    color: #fff;
  }

  /* .nav-list.active {
    right: 0;
  }  */

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  /*!============== animation ==============*/

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (min-width: 900px) {
  .sec-hikes,
  footer {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-basis: 100%;
  }

  p {
    columns: 1;
  }
}
