@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  background-color: #a9bfc3;
}
button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

section {
  padding: 10px;
}

.container {
  margin: 0 auto;
  width: min(100%, 1140px);
}

/* section {
  padding: 10px;
} */
/* BASE CSS END */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url("../img/LandingPage.jpg") left / cover no-repeat;
}

.nav-list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 666;
  list-style-type: none;
  place-content: center;
  display: none;
}

.nav-list.show {
  display: grid;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  padding: 10px 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #d5d5dd;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #b71c27;
}

.burger-btn {
  width: 30px;
  height: 25px;
  position: fixed;
  right: 20px;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 667;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: #6f86ff;
  border-radius: 1101px;
  transition: 0.3s ease;
}

.bar:nth-child(1).active {
  transform: rotate(45deg) translate(10px, 5px);
}

.bar:nth-child(2).active {
  display: none;
}

.bar:nth-child(3).active {
  transform: rotate(-45deg) translate(9px, -5px);
}

.home {
  position: fixed;
  color: #6f86ff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  right: 30px;
  bottom: 30px;
  text-transform: uppercase;
}

.fa-solid .fa-circle-chevron-up {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

.home {
  font-size: 2rem;
}

.home i {
  font-size: 3rem;
  margin-right: 5px;
}

h1 {
  align-self: center;

  width: 100%;
  margin-bottom: 20%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);

  font-size: clamp(3.125rem, 2.15rem + 4vw, 5rem);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #d5d5dd;

  letter-spacing: 3px;
}

/* HIKER - SECTION AND ARTICLE CONTENT */

.sec-hikes {
  background: linear-gradient(135deg, #85a875, #1d5503);
  box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.7);
  /* background-color: #85a875; */
}

section img {
  border: 1px solid #fff;
  margin-bottom: 10px;
}

h2 {
  font-size: clamp(1.25rem, 1.087rem + 0.667vw, 1.563rem);
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 18px;
}

.sec-hikes h2 {
  font-weight: 600;
  font-size: clamp(18px, 3rem, 19px);
  color: #fff;
}

.sec-hikes p {
  font-size: clamp(12px, 3rem, 14px);
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #fff;
}

/* Figure-Tag */
figure {
  aspect-ratio: 16/9;
  overflow: hidden;
  border: 1px solid #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

figure:hover {
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.7);
  transform: translateY(5px);
}

figure img {
  object-fit: cover;
  object-position: center;
  transition: 2s ease;
}

figure img:hover {
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.7);
  transform: translateY(4px);
}

/* CONTACT - SECTION, FORM AND CONTACT CONTENT */

.sec-contact {
  background-color: #75a387;
}

.contact-heading {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.footer-content {
  letter-spacing: 1.2px;
  line-height: 1.2;
  color: #fff;
}

input,
textarea {
  display: block;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  resize: none;
}

input:focus,
textarea {
  outline: none;
}

textarea {
  padding: 10px;
}

input {
  height: 30px;
  padding: 10px;

  resize: none;
}

input[type="submit"] {
  border: none;
  background-color: hsl(135, 69%, 38%);
  border-radius: 4px;

  font-weight: 500;
  color: #fff;

  line-height: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: hsl(135, 69%, 20%);
}

.contact-two h2 {
  color: #fff;
  margin-top: 6px;
}
.contact-two img {
  margin-top: 6px;
}

.contact-two ul {
  margin: 20px 0 50px;
  list-style: none;
}

.contact-two li {
  padding-bottom: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
}

.rain {
  position: absolute;
  margin: 0 auto;
  width: min(100%, 1140px);
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../img/rain.png");
  z-index: 0;
  opacity: 0.5;
  animation: Rain 0.3s linear infinite;
  animation-play-state: paused;
  display: none;
}

@keyframes Rain {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% -40%;
  }
}

/* SCREEN SIZE > DESKTOP */
@media (min-width: 500px) {
  p {
    columns: 2;
  }
}

@media (min-width: 900px) {
  .sec-hikes,
  footer {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-basis: 100%;
  }
  p {
    columns: 1;
  }
  .nav-list {
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 666;
    height: 60px;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    list-style-type: none;
  }
  .burger-btn {
    display: none;
  }

  .rain {
    display: block;
    animation-play-state: running;
  }
  .home {
    display: none;
  }
}
